In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.feature_extraction.text import CountVectorizer

In [2]:
df = pd.read_csv("E:\\Projects\\nlp_project\\dataset_duplicat_question\\train.csv")

In [3]:
df.shape

(404290, 6)

In [4]:
df.head()

,id,qid1,qid2,question1,question2,is_duplicate
0,0,1,2,What is the step by step guide to invest in sh...,What is the step by step guide to invest in sh...,0
1,1,3,4,What is the story of Kohinoor (Koh-i-Noor) Dia...,What would happen if the Indian government sto...,0
2,2,5,6,How can I increase the speed of my internet co...,How can Internet speed be increased by hacking...,0
3,3,7,8,Why am I mentally very lonely? How can I solve...,Find the remainder when [math]23^{24}[/math] i...,0
4,4,9,10,"Which one dissolve in water quikly sugar, salt...",Which fish would survive in salt water?,0

In [5]:
new_df = df.sample(30000)

In [6]:
new_df.isnull().sum()

id              0
qid1            0
qid2            0
question1       0
question2       1
is_duplicate    0
dtype: int64

In [7]:
new_df.duplicated().sum()

np.int64(0)

In [8]:
ques_df = new_df[['question1','question2']]
ques_df.head()

,question1,question2
14138,Where can I find affordable safety switch serv...,How do I find affordable safety switch install...
157169,Indian defence system?,How can we download songs from Billboard?
235377,What are the problems that India is facing?,Why India cannot be a superpower by 2030? What...
178410,What is the best use of the internet?,What is the best use of Internet?
141225,"What do we actually mean when we say ""everythi...",Why do religious people say everything happens...

In [9]:
# STEP 1 — Remove NaN (IMPORTANT)
ques_df['question1'] = ques_df['question1'].fillna("")
ques_df['question2'] = ques_df['question2'].fillna("")

# STEP 2 — Merge texts
questions = list(ques_df['question1']) + list(ques_df['question2'])

# STEP 3 — Vectorization
cv = CountVectorizer(max_features=3000)

X = cv.fit_transform(questions).toarray()

# STEP 4 — Split back
q1_arr, q2_arr = np.vsplit(X, 2)

print(q1_arr.shape, q2_arr.shape)

C:\Users\Aashi\AppData\Local\Temp\ipykernel_16552\3758884262.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ques_df['question1'] = ques_df['question1'].fillna("")
C:\Users\Aashi\AppData\Local\Temp\ipykernel_16552\3758884262.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ques_df['question2'] = ques_df['question2'].fillna("")

(30000, 3000) (30000, 3000)

In [10]:
temp_df1 = pd.DataFrame(q1_arr, index= ques_df.index)
temp_df2 = pd.DataFrame(q2_arr, index= ques_df.index)
temp_df = pd.concat([temp_df1, temp_df2], axis=1)
temp_df.shape

(30000, 6000)

In [11]:
temp_df

,0,1,2,3,4,5,6,7,8,9,...,2990,2991,2992,2993,2994,2995,2996,2997,2998,2999
14138,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
157169,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
235377,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
178410,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
141225,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
369830,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
139525,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
215423,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
317948,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
362978,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0

In [12]:
temp_df['is_duplicate'] = new_df['is_duplicate']

In [13]:
temp_df.head()

,0,1,2,3,4,5,6,7,8,9,...,2991,2992,2993,2994,2995,2996,2997,2998,2999,is_duplicate
14138,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
157169,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
235377,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
178410,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
141225,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1

In [14]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test = train_test_split(temp_df.iloc[:,0:-1].values,temp_df.iloc[:,-1].values,test_size=0.2,random_state=1)

In [15]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score
rf = RandomForestClassifier()
rf.fit(X_train,y_train)
y_pred = rf.predict(X_test)
accuracy_score(y_test,y_pred)

0.74

In [16]:
from xgboost import XGBClassifier
xgb = XGBClassifier()
xgb.fit(X_train,y_train)
y_pred = xgb.predict(X_test)
accuracy_score(y_test,y_pred)

0.7233333333333334